export(
    "C_piBTL",
    "ClassDataPairComp",
    "ClassifPaired",
    "DataSimulH0",
    "EstimBradley",
    "ImportData",
    "Piplot",
    "ResSimulLvrRatio"
)
exportMethods(
    "getCons",
    "getCrit",
    "getIc",
    "getLambda",
    "getLvr",
    "getLvriter",
    "getPaircomp",
    "getPi",
    "getProd",
    "getRestestglob",
    "getRestestprod",
    "getSimu",
    "getTest",
    "getVarcov",
    "getZh",
    "show" 
)
exportClasses(
    "BradleyEstim",
     "DataPairComp",
     "LvrRatio" 
)
importFrom(graphics,plot)
importFrom(graphics,arrows)
importFrom(graphics,text)
importFrom(utils,read.csv2)
importFrom(stats,pchisq)
importFrom(stats,pnorm)
importFrom(stats,as.dist)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(stats,cutree)
importFrom(stats,runif)
importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(MASS,ginv)
import(methods)